/*--------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------Variables & defaults-------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/

$purple: #703471;
$black: #180925;
$contrast: #fc9e7c;
$blue: #212D40;
$gray: #364156;
$baseUnit: 18px;


@mixin placeholder-text($x) {
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $x !important;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $x !important;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: $x !important;
  }
}

.App {
  text-align: center;
 }

html {
  scroll-behavior: smooth;
  background-color: $black;
 }

 #root {
  font-family:Roboto;
  background-color: $black;
 }

/*--------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------Title.js-------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/

.heading {
  text-align:center;
  background-color:#21201E;  
  background-image: url(./starry-night.jpg);
  height:100vh;
  overflow:hidden; 
  width:100%;
  background-position: center !important;
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:white;
  overflow-x: hidden;
  h1 {  
    letter-spacing:3px;
    font-weight:500;  
    font-size:$baseUnit*4;
    font-family: "Anton";
    color:white;
    width:95%;
    z-index:3;
  }
}

.key-solution {
  width:95%;
  font-size:$baseUnit*2;
  padding-top:$baseUnit;
  font-family:"Roboto";
  z-index:3;
}

@media only screen and (max-width: 500px) {
  .heading { 
    background-image: url(./starry-night.jpg);
    background-attachment:scroll;
    h1 {
      font-size:$baseUnit*3;
    }
  }

  .key-solution{
    font-size:$baseUnit*1.5;
  }
}

/*--------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------BodyHeader.js-------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/

.body-header {
  text-align:center;
  background-color:$black;
  padding-top:$baseUnit*4;
  padding-bottom:$baseUnit*4;
  width:100%;
  text-align:center;
  color:$contrast;
  font-size:$baseUnit*2;
  position:relative;
  z-index:2
}

.body-header-text h2{
  font-weight:900;
  font-family:"Anton";
  letter-spacing:1px;
  color: $contrast;
  margin-bottom:0px;
}

/*--------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------Description.js-------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/

.description {
  text-align:center;
  background-color:#F5F5F5;
  padding-top:30px;
  padding-bottom:30px;
  overflow:hidden; 
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:#263238;
  font-size:21px;
  font-family:"Roboto";
}

.description-text {
  margin-top:1rem;
  max-width:700px;
}

/*--------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------SearchAPI.js---------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/

/*holds the form*/
.search-container {
  width:95%;
  max-width:800px;
  margin-left:auto;
  margin-right:auto;
  .btn-primary {
    background-color: $purple;
    border-color: $purple;
    font-size:$baseUnit !important;
    width:100px;
  }
  .btn-primary:hover {
    background-color:$contrast;
    border-color:$contrast;
  }
  .btn-primary:active {
    background-color:$contrast !important;
    border-color:$contrast !important;
  }
  .btn-primary:focus {
    background-color:$contrast !important;
    border-color:$contrast !important;
  }
  .input-group-text {
    background-color:$blue !important;
    border-color: $blue;
    color:$contrast;
  }
  .form-control {
    background-color:$blue;
    border-color:$blue;
    text-align:center;
    color: $contrast;
    font-size:$baseUnit !important;
  }
  .form-control:focus {
    background-color:$gray;
    border-color:$gray;
    text-align:center;
    color: $contrast;
  }
}

*:focus {
    box-shadow: none !important;
}

@include placeholder-text($contrast);

/*--------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------HelpText-.js---------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/

#help-text {
  width:85%;
  max-width:800px;
  margin-left:auto;
  margin-right:auto;
  color:$contrast;
  font-size:$baseUnit;
  margin-top:$baseUnit/4;
}

#help-text a {
  color:$purple;
}

#help-text a:hover {
  cursor:pointer;
  text-decoration:underline;
  color:$blue;
}

/*--------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------ResultPre.js---------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/

#result-output {
  width:95%;
  max-width:800px;
  background-color:$blue;
  display:block;
  word-break:break-all;
  word-wrap:break-word;
  border: 1px solid $purple;
  margin-top:$baseUnit*2;
  margin-left:auto;
  margin-right:auto;
  padding:8px;
  line-height:$baseUnit;
  color:$contrast;
  a {
    color:$contrast;
  }
  tr {
    background-color:$blue;
  }
  td {
    color: $contrast;
    font-size:$baseUnit
  }
  .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
    background: $gray;
  }
  th {
    color:$contrast;
    font-size:$baseUnit*2;
  }
  tbody {
    background-color:$blue;
  }
  .ant-table-placeholder {
    background-color:$blue;
    border-color: $purple;
  }
  table {
    border-bottom: 2px solid $purple !important;
  }  
  .ant-empty-description {
    color: $contrast;
    font-size:$baseUnit;
  }
  .ant-empty-image {
    img {
      content:url(./empty.svg) !important;
    }
  }
}

.ant-pagination-item-link {
  background-color:$blue !important;
  border-color:$purple !important;
}
.ant-pagination-item-link:hover {
  color:$contrast !important;
  border-color:$contrast !important;
}
.ant-pagination-item {
  background-color:$blue !important;
  border-color:$purple !important;
  a:hover {
    color:$contrast !important;
  }
}
.ant-pagination-item-link-icon {
  color: $contrast !important;
}
.ant-pagination-item-active {
  border-color:$contrast !important;
}
.ant-pagination-item:hover {
  border-color:$contrast !important;
}
.ant-pagination-item-ellipsis {
  color: $purple !important;
}



@media only screen and (max-width: 768px) {
  .ant-table-header-column {
    font-size:$baseUnit*1.4;
    font-weight:600;
  }
}

@media only screen and (max-width: 500px) {
  col:nth-child(2) {
    width:83px;
  }
  col:nth-child(3) {
    width:94px;
  }
}

@media only screen and (max-width: 350px) {
  .ant-table-header-column {
    font-size:$baseUnit*1.15;
  }

  col:nth-child(2) {
    width:83px;
  }
  col:nth-child(3) {
    width:95px;
  }
}







/*--------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------footer---------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/

.social-media {
  margin:$baseUnit*4 auto;
  margin-top:$baseUnit*4;
  margin-bottom:$baseUnit;
  width:fit-content;
}

.social-icons {
  margin: 20px;
}

.footer p {
  text-align:center;
  margin-bottom:$baseUnit*4;
  color:$contrast;
}